.wrapper{
    margin: 125px 80px 80px 80px;
    display: flex;
    align-items: flex-start;
    column-gap: 50px;
}

.wrapper .change-password {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}

.wrapper .change-password .password{
    margin-bottom: 40px;
}

.wrapper .change-password .password input{
    padding: 4px 6px;
    width: 100%;
}

.wrapper .change-password .btn-box{
    text-align: end;
    margin-top: 50px;
}