.wrapper{
    margin-top: 125px;
    width: 100%;
    display: flex;
    min-height: 75vh;
    justify-content: center;
}

.booked-list{
    padding: 35px;
    width: 90%;
    background-color: white;
    border-radius: 30px;
}