.wrapper{
    margin-top: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.flight-detail{
    padding: 35px;
    width: 90%;
    background-color: white;
    border-radius: 30px;
}