.wrapper{
    margin-top: 125px;
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.flight-list{
    padding: 35px;
    width: 90%;
    background-color: white;
    border-radius: 30px;
}