.register{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../../assets/register.jpg") no-repeat;
    background-size: cover;
    background-position: center left;
    padding: 50px 0px;
}

.wrapper{
    width: 750px;
    padding: 30px 40px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    height: 50px;
    position: relative;
    margin: 15px 0;
}

.wrapper .input-box input{
    height: 100%;
    width: 100%;
    border: 2px solid #EEE;
    padding: 20px 45px 20px 20px;
}

.wrapper .input-box select{
    appearance: none;
    width: 100%;
    height: 100%;
    border: 2px solid #EEE;
    padding-left: 20px;
}

.wrapper .input-box .icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.wrapper .check{
    margin: 20px 0px;
}

.wrapper .radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
}

.wrapper button{
    margin-bottom: 20px;
    width: 100%;
    height: 45px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.wrapper button:hover{
    background-color: gray;
    color: black;
}

.wrapper .login{
    text-align: center;
    margin: 10px 0px 20px;
}

.wrapper .login .to-login{
    text-decoration: none;
}

.wrapper .login .to-login:hover{
    text-decoration: underline;
}

.wrapper .error-message{
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

